---
layout: default
---

<!DOCTYPE html>
<html lang="en">
{% assign meta = "" | split, "" %}
{% for yml_file in site.data %}
  {% assign meta = meta | push:yml_file[1] %}
{% endfor %}
{% assign meta = meta | sort: 'listing-order' %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>

  <link rel="shortcut icon" type="image/png" href="{{ site.logo_img }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
</head>

<body>
  <div id="header">
    <ul>
      <li>
        <a class="content-link" href="#about">About Me</a>
      </li>
      {% for subject in meta %}
      <li>
        <a class="content-link" href="#{{ subject.subject }}">
          {{ subject.subject }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="about">
    <div class="photo-zone">
      <img src="{{ '/assets/img/profile.webp' }}" alt="My Photo">
    </div>
    <div class="name-zone">
      <h1>Your Name Here</h1>
      {% if site.phone_number %}
      <span>
        <img src="{{ '/assets/img/phone.svg' }}" alt="My Phone Number">
        {{ site.phone_number }}
      </span>
      {% endif %}
      {% if site.address %}
      <span>
        <img src="{{ '/assets/img/location-dot.svg' }}" alt="My Address">
        {{ site.address }}
      </span>
      {% endif %}
    </div>
    <div class="contact-list">
      <ul>
        {% if site.email %}
          <li><a aria-label="My Email" href="{{ site.email }}">
            <img src="{{ '/assets/img/envelope.svg' }}" alt="My Email">
          </a></li>
        {% endif %}
        {% if site.linkedin_username %}
          <li><a aria-label="My LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <img src="{{ '/assets/img/linkedin.svg' }}" alt="My LinkedIn">
          </a></li>
        {% endif %}
        {% if site.github_username %}
          <li><a aria-label="My Github" href="https://github.com/{{ site.github_username }}">
            <img src="{{ '/assets/img/github.svg' }}" alt="My Github">
          </a></li>
        {% endif %}
        {% if site.twitter_username %}
          <li><a aria-label="My Twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <img src="{{ '/assets/img/twitter.svg' }}" alt="My Twitter">
          </a></li>
        {% endif %}
        {% if site.instagram_username %}
          <li><a aria-label="My Instagram" href="https://www.instagram.com/{{ site.instagram_username }}">
            <img src="{{ '/assets/img/instagram.svg' }}" alt="My Instagram">
          </a></li>
        {% endif %}
        {% if site.facebook_username %}
          <li><a aria-label="My Facebook" href="https://www.facebook.com/{{ site.facebook_username }}">
            <img src="{{ '/assets/img/facebook.svg' }}" alt="My Facebook">
          </a></li>
        {% endif %}
        {% if site.youtube_username %}
          <li><a aria-label="My Youtube" href="https://www.youtube.com/{{ site.youtube_username }}">
            <img src="{{ '/assets/img/youtube.svg' }}" alt="My Youtube">
          </a></li>
        {% endif %}
        {% if site.blog_url %}
          <li><a aria-label="My Blog" href="{{ site.blog_url }}">
            <img src="{{ '/assets/img/house.svg' }}" alt="My Blog">
          </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div id="contents">
    <ul>
      {% for subject in meta %}
        <li id="{{ subject.subject }}">
          <h2 class="subject-name">
            <img src="{{ subject.icon }}" alt="{{ subject.subject }}">
            {{ subject.subject }}
          </h2>
          <ul>
              {% for member in subject.contents %}
              <li>
                  <div class="content-header">
                    {{ member.title | markdownify }}
                    {% if member.date %}
                      <span class="content-date">
                        <img src="{{ '/assets/img/calendar-days.svg' }}" alt="date">
                        {{ member.date }}
                      </span>
                    {% endif %}
                  </div>
                  {% for item in member %}
                    {% if item[0] != "title" and item[0] != "date" %}
                      {% if item[1].first %} <!-- list -->
                        <ul>
                          {% for subitem in item[1] %}
                          <li class="subitem">
                            {{ subitem }}
                          </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        {{ item[1] | markdownify }}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </li>
              {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
  </div>
  <div id="footer">
    <span>
      Copyright © 2024 | <a href="https://github.com/byanko55">Yankos</a>
    </span>
  </div>
</body>
</html>