---
---

html, body {
    margin:0;
    padding:0;
}

body { 
    margin:0 auto;
    
    &:before{
        content:"";
        position: fixed;
        left: calc(50% - min(512px, 35%) - 50px);
        width: 3px;
        height: 100%;
        background: brown;
    }
}

ul, li {
    list-style:none;
    padding:0;
}

a {
    text-decoration:none;
}

#sidebar{
    position: fixed;
    width: 128px;
    top: 320px;
    right: 0;
    z-index: 1;
    font-size: 12px;

    li {
        margin: 6px;
        margin-right: 0;
        padding: 4px 24px 4px 12px;
        border-radius: 8px 0 0 8px;
        background: aqua;
        transition: all 0.5s;

        &:hover{
            padding-left: 24px;
            padding-right: 12px;
            background: gold;
        }
    }
}

#about, #contents, #footer { text-align:center; }

#about{
    width: 100%;

    .profile-zone{
        width: 100%;
        position: relative;
        margin:4rem auto;
        background-color: lightslategrey;
    }

    .profile-zone .profile-img {
        width:256px;
        aspect-ratio:1.0;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        border-radius:50%;
        border: 4px solid darkkhaki;
    }

    .profile-zone .personal-info {
        width: 768px;
        height: 200px;
        margin: auto;
        columns: 2;
        line-height: 250%;
        padding: 1rem 0;
    }

    .profile-zone .personal-info span { 
        color: white;
        display: inline-flex;
        font-size: 0;
        vertical-align: middle;
        clip-path: inset(0 100% 0 0);
        transition: font-size .75s ease-in-out, clip-path .5s;
        transition-delay: 0s, .5s;
        transition-property: font-size, clip-path;
    }

    .profile-zone .personal-info img {
        width:20px;
        aspect-ratio:1.0;
        cursor: pointer;
        vertical-align: middle;
        transition: all .75s;
        filter: invert(10%) sepia(4%) saturate(5321%) hue-rotate(201deg) brightness(99%) contrast(90%);
    }

    .profile-zone .personal-info {
        a {
            display: inline-flex;
            cursor: pointer;

            &:hover {
                img {
                    width: 28px;
                    filter: brightness(0) saturate(100%) invert(77%) sepia(47%) saturate(1006%) hue-rotate(358deg) brightness(104%) contrast(105%);
                }

                span {
                    font-size: 1rem;
                    clip-path: inset(0 0 0 0);
                };
            }
        }

        li { height: 40px; }

        li:nth-child(n+1):nth-child(-n+5) { 
            text-align: right; 

            img { 
                order: 1; 
                margin-right: 0.5rem;
            }

            div { 
                order: 2;
            }
        }

        li:nth-child(n+6):nth-child(-n+10) { 
            text-align: left; 

            img { 
                order: 2; 
                margin-left: 0.5rem;
            }
            div { 
                order: 1;
            }
        }

        li:nth-child(1) { margin-right: 7.25rem; }
        li:nth-child(2) { margin-right: 8.25rem; }
        li:nth-child(3) { margin-right: 8.75rem; }
        li:nth-child(4) { margin-right: 8.25rem; }
        li:nth-child(5) { margin-right: 7.25rem; }
        li:nth-child(6) { margin-left: 7.25rem; }
        li:nth-child(7) { margin-left: 8.25rem; }
        li:nth-child(8) { margin-left: 8.75rem; }
        li:nth-child(9) { margin-left: 8.25rem; }
        li:nth-child(10) { margin-left: 7.25rem; }
    }
    
    .name-zone { margin-top: -2rem; }

    .name-zone h1, 
    .name-zone h2 {
        margin: 0;
    }
    
    .name-zone h1 { color: darkgoldenrod; }
    .name-zone h2 { color: cadetblue; }
}

#contents{
    width: 70%;
    max-width: 1024px;
    margin: auto;
    text-align: left;

    img {
        width:24px;
        aspect-ratio:1.0;
        margin-right: 8px;
        vertical-align: sub;
    }

    h2 {
        text-decoration: 1px underline;
        margin: 2rem auto;
    }

    ul {
        margin-bottom: 4rem;
    }

    li { 
        margin-bottom: 2rem; 
        line-height: 100%;
    }

    .subject-icon {
        width:32px;
        aspect-ratio:1.0;
        vertical-align: sub;
        background: aqua;
        border-radius: 50%;
        padding: 8px;
        transform: translateY(8px);
        margin-right: 24px;
        margin-left: -72px;
    }

    .item {
        position: relative;
    }

    .content-header { 
        display: table;
        width: 100%;
        position: relative;
        margin: 1rem auto;

        &:before{
            content:"";
            position: absolute;
            top: 8px;
            left: -56px;
            width: 16px;
            aspect-ratio: 1.0;
            background: aqua;
            border-radius: 50%;
        }

        p, span { 
            display: table-cell;
            line-height: 150%;
        }

        p { 
            font-weight: 600;
            font-size: 20px;
        }
    }

    .content-date { text-align: right; }

    .subitem {
        list-style: square;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
}