<!DOCTYPE html>
<html lang="en">
{% assign meta = "" | split: "" %}
{% for yml_file in site.data %}
  {% assign meta = meta | push:yml_file[1] %}
{% endfor %}
{% assign meta = meta | sort: 'listing-order' %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {% seo %}

  <link rel="icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ site.icon_img | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
  <div id="sidebar">
    <ul class="toc-box"></ul>
  </div>
  <div id="about">
    <div class="profile-zone">
      <img class="profile-img" src="{{ site.profile_img | prepend: site.baseurl }}" alt="My Photo">
      <ul class="personal-info">
        {% if site.phone_number %}
        <li><a aria-label="My Phone">
          <img src="{{ '/assets/img/phone.svg' | prepend: site.baseurl }}" alt="My Phone Number">
          <div><span>{{ site.phone_number }}</span></div>
        </a></li>
        {% endif %}
        {% if site.address %}
        <li><a aria-label="My Address" href="https://www.google.com/maps/search/{{ site.address }}">
          <img src="{{ '/assets/img/location-dot.svg' | prepend: site.baseurl }}" alt="My Address">
          <div><span>{{ site.address }}</span></div>
        </a></li>
        {% endif %}
        {% if site.email %}
          <li><a aria-label="My Email" href="mailto:{{ site.email }}">
            <img src="{{ '/assets/img/envelope.svg' | prepend: site.baseurl }}" alt="My Email">
            <div><span>{{ site.email }}</span></div>
          </a></li>
        {% endif %}
        {% if site.linkedin_username %}
          <li><a aria-label="My LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
            <img src="{{ '/assets/img/linkedin.svg' | prepend: site.baseurl }}" alt="My LinkedIn">
            <div><span>@{{ site.linkedin_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.github_username %}
          <li><a aria-label="My Github" href="https://github.com/{{ site.github_username }}">
            <img src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" alt="My Github">
            <div><span>@{{ site.github_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.twitter_username %}
          <li><a aria-label="My Twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <img src="{{ '/assets/img/twitter.svg' | prepend: site.baseurl }}" alt="My Twitter">
            <div><span>@{{ site.twitter_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.instagram_username %}
          <li><a aria-label="My Instagram" href="https://www.instagram.com/{{ site.instagram_username }}">
            <img src="{{ '/assets/img/instagram.svg' | prepend: site.baseurl }}" alt="My Instagram">
            <div><span>@{{ site.instagram_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.facebook_username %}
          <li><a aria-label="My Facebook" href="https://www.facebook.com/{{ site.facebook_username }}">
            <img src="{{ '/assets/img/facebook.svg' | prepend: site.baseurl }}" alt="My Facebook">
            <div><span>@{{ site.facebook_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.youtube_username %}
          <li><a aria-label="My Youtube" href="https://www.youtube.com/{{ site.youtube_username }}">
            <img src="{{ '/assets/img/youtube.svg' | prepend: site.baseurl }}" alt="My Youtube">
            <div><span>@{{ site.youtube_username }}</span></div>
          </a></li>
        {% endif %}
        {% if site.blog_url %}
          <li><a aria-label="My Blog" href="{{ site.blog_url }}">
            <img src="{{ '/assets/img/house.svg' | prepend: site.baseurl }}" alt="My Blog">
            <div><span>{{ site.blog_url }}</span></div>
          </a></li>
        {% endif %}
      </ul>
    </div>
    <div class="name-zone">
      <h1>{{ site.name }}</h1>
      <h2>{{ site.job }}</h2>
    </div>
  </div>
  <div id="contents">
    <ul>
      {% for subject in meta %}
        <li class="subject" id="{{ subject.subject }}">
          <h2 class="subject-name">
            <div>
              <img class="subject-icon" src="{{ subject.icon | prepend: site.baseurl }}" alt="{{ subject.subject | prepend: site.baseurl }}">
            </div>
            {{ subject.subject }}
          </h2>
          <ul>
              {% for member in subject.contents %}
              <li class="item">
                  <div class="content-header">
                    {{ member.title | markdownify }}
                    {% if member.date %}
                      <span class="content-date">
                        <img src="{{ '/assets/img/calendar.webp' | prepend: site.baseurl}}" alt="date">
                        {{ member.date }}
                      </span>
                    {% endif %}
                  </div>
                  {% for item in member %}
                    {% if item[0] != "title" and item[0] != "date" %}
                      {% if item[1].first %}
                        <ul>
                          {% for subitem in item[1] %}
                          <li class="subitem">
                            {{ subitem | markdownify }}
                          </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        {{ item[1] | markdownify }}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </li>
              {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
  </div>
  <div id="footer">
    <span>
      Copyright © 2024 | <a href="https://github.com/byanko55">Yankos</a>
    </span>
  </div>
</body>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
</html>